.sortItem {
    display: flex;
}

.icon {
    margin-right: 12px;
}

.text {
    margin-right: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 0; 
    margin: 0;
    padding: 0;
    width: 10px;
    height: 6px;
    cursor: pointer;
    display: block;
    position: relative;

}

.btn img {
    position: absolute;
}

.btn span {
    display: none;
}