.searchForm {
    width: 385px;
    height: 48px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 15px 18px;
}

.searchBtn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.searchInput {
    border: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    width: 100%;
    height: 40px;
}