.App {
    background-color: #f2f2f2;
    width: 1440px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 304px 1fr;
    grid-template-areas:
    "s h"
    "s c";
}

.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 32px 0;
}

.right-block {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar-img {
    border-radius: 50%;
}

.burger-btn {
    background-color: #503E9D;
    width: 48px;
    height: 48px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.hr {
    color: red;
    height: 2px;
    border-radius: 1px;
}

/* sidebar */

.sidebar {
    grid-area: s;
    background-color: #f8f8f8;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.logo {
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    padding: 0 16px;
}


/* main */
.main {
    grid-area: c;
    padding: 32px 32px 20px;
}

.block-title {
    margin-bottom: 32px;
}

.sorting {
    display: flex;
    gap: 21px;
}


.headlines {
    margin-bottom: 38px;
}

.block-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}

.channels {
    margin-bottom: 38px;
}

.channels-content {
    display: flex;
    justify-content: space-between;
}

.news-content {
    display: flex;
    justify-content: space-between;
}