.App {
    background-color: #f2f2f2;
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 304px 1fr;
    grid-template-areas:
    "s h"
    "s c";
}

.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 32px 0;
}

.right-block {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar-img {
    border-radius: 50%;
}

.btn {
    border: 0; 
}

.btn--violet {
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #503E9D;
}

.burger-btn {
    width: 48px;
}

.lines {
    margin-top: 16px;
    margin-bottom: 24px;
}

.line {
    height: 0;
    border: 1px solid white;
    border-radius: 1px;
}

.line--gray {
    border-color: #E8E8E8;
}

/* subscribe*/

.subscribe {
    width: 240px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 32px 96px rgba(0, 0, 0, 0.06);
    padding: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}



.flame {
    width: 64px;
    height: 64px;
    background-color: rgba(251, 109, 58, 0.1);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.subscribe-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
    width: 165px;
}

.subscribe-title span{
    color: #FB6D3A;
    text-decoration: underline;
}
.subscribe-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: center;
}

.subscribe-btn {
    padding: 16px 17px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
}

.subscribe-btn span {
    margin-right: 12px;
}

/* sidebar */

.sidebar {
    grid-area: s;
    background-color: #f8f8f8;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 0 16px;
}

.logo {
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* main */
.main {
    grid-area: c;
    padding: 32px 32px 20px;
}

.block-title {
    margin-bottom: 32px;
}

.sorting {
    display: flex;
    gap: 21px;
}


.headlines {
    margin-bottom: 38px;
}

.block-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}

.channels {
    margin-bottom: 38px;
}

.channels-content {
    display: flex;
    justify-content: space-between;
}

.news-content {
    display: flex;
    justify-content: space-between;
}